.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#sun {
    width: 50%;
}

#sunset {
    width: 50%;
}

#moon {
    width: 50%;
}
  
#button {
   width: 20%;
   background-color: #47afff;
   padding: 10px 20px;
   transition: background-color 5s ease;
}

#button:hover {
    background-color: #c44fa3;
    font-size:20px;
    padding: 20px 40px;
 }
