* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #1f1f1f;
    color: #fff;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 2.5rem;
    text-decoration: underline;
    color: #f0f8ff;
}

.content {
    padding: 20px;
    background-color: #1f1f1f;
    border-radius: 10px;
}

p {
    font-size: 1.1rem;
    margin-bottom: 20px;
}

ol {
    padding-left: 20px;
    margin-bottom: 20px;
}

li {
    margin-bottom: 10px;
}

a {
    color: #add8e6;
    text-decoration: none;
}

a:hover {
    color: #f0f8ff;
}

h2, h3, h4, h5, h6 {
    color: #add8e6;
    font-weight: normal;
}

i {
    font-style: italic;
}

#page1 h1 {
    font-size: 3rem;
    text-decoration: underline;
}

#page1 h2 {
    font-size: 2rem;
    text-align: left;
}

#page1 h3 {
    font-size: 1.5rem;
    color: #f4a300;
}

#page2 h1 {
    font-size: 2.5rem;
    color: #e74c3c;
    text-align: center;
}

#page2 h3 {
    color: #e74c3c;
}

#page3 h1 {
    font-size: 2.5rem;
    color: #2ecc71;
}

#page3 h2 {
    font-size: 2rem;
    color: #2ecc71;
    text-align: left;
}

#page3 h3 {
    font-size: 1.5rem;
    color: #f4a300;
}

#page4 h1 {
    font-size: 2.5rem;
    color: #2ecc71;
    text-align: center;
}

#page4 h3 {
    color: #2ecc71;
}

#page5 h1 {
    font-size: 2.5rem;
    color: #f39c12;
}

#page5 h3 {
    color: #f39c12;
}

#page6 h1 {
    font-size: 2.5rem;
    color: #f39c12;
}

#page6 h3 {
    color: #f39c12;
}

#page7 h1 {
    font-size: 3rem;
    color: #e1229b;
}

#page7 h2 {
    font-size: 2rem;
    color: #ec43a3;
}

#page7 h3 {
    font-size: 2rem;
    color: #ca5873;
}

#page7 h4 {
    font-size: 1.5rem;
    color: #ff8800; /* Blue */
}

#page7 h5 {
    font-size: 1.2rem;
    color: #ffaa00; /* Blue */
}

#page7 i {
    color: #ca9e47;
}
